@import '~antd/dist/antd.css';

.App {
    margin: 0 100px !important;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
.Header {
    height: 400px !important;
    background-image: url("https://a0.muscache.com/pictures/a430c412-63bc-45f5-8a13-55647449a0b1.jpg");
    color: white;
    margin: 0 -100px !important;
}

.Header-Container {
    margin: 0 100px !important;
    padding-top: 150px;
}

.Content-Header {
    font-size: 46px !important;
    line-height: 1.1304347826086956em !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.Header-Button-Text {
    margin-bottom: 8px;
    font-size: 18px;
}

.Header-Button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
}

.Container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.Footer {
    margin: 20px;
}

.hrLine {
    margin: 16px -100px;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #EBEBEB !important;
}

.liStyle {
    list-style-type:none;
    cursor: pointer;
    font-weight: 600;
}
